@{
    ViewData["Title"] = "Statistics";
}
@model IEnumerable<PVP.Models.Device>

<div class="center-container">
    <h1 class="center-text-title">Pasirinkite įrengnį</h1>

    <p class="container-text">Paspauskite ant  įrenginio, kurio rodmenis norite pamatyti.</p>

    @if (Model.Count() != 0)
    {
    <div class="cards">
    @foreach (var item in Model)
    {
        @if (item.Tag == null || item.Tag == "")
        {
            <a class="card-box" asp-controller="Electricity" asp-action="Statistics" asp-route-id="@item.Id">
                <article class="text">
                    <div class="device-icon-box"><span class="glyphicon glyphicon-modal-window"></span></div>
                    <p class="center-option" style="color: gray;">
                        Įrenginys @item.SetupString
                    </p>
                </article>
            </a>
        }
        else
        {
            <a class="card-box" asp-controller="Electricity" asp-action="Statistics" asp-route-id="@item.Id">
                <article class="text">
                    <div class="device-icon-box"><span class="glyphicon glyphicon-modal-window"></span></div>
                    <p class="center-option">
                        @Html.DisplayFor(modelItem => item.Tag)
                    </p>
                </article>
            </a>
        }
    }
    </div>

    }
    else
    {
    <p class="error-text">Neturite pridėtų įrenginių. Pridėti naują įrenginį galite meniu juostoje paspaudus "Įrenginiai".</p>
    }
</div>
<script type="text/javascript">
    // LOGIN/LOGOUT messages
    window.onload = function () {
        if ('@TempData["LoginSuccessMessage"]' == 'LoginSuccess') {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Sėkmingai prisijungėte!',
                showConfirmButton: false,
                timer: 1600
            });
        }
        else if ('@TempData["LogoutSuccessMessage"]' == 'LogoutSuccess') {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Sėkmingai atsijungėte!',
                showConfirmButton: false,
                timer: 1600
            });
        }
    };

</script>