@{
    ViewData["Title"] = "Statistics";
}
@model IEnumerable<PVP.Models.Device>




<div class="center-container">
    <h1 class="center-text-title">Statistika realiu laiku</h1>

    <p class="container-text">Lorem ipsum.</p>
    @if (Model.Count() != 0)
    {
        <table class="table table-hover" id="table-realtime">
            <colgroup>
                <col span="1" style="width: 80%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="table-main">
                    @if (item.Tag == null || item.Tag == "")
                    {
                        <td style="color: darkgray"><span class="glyphicon glyphicon-modal-window"></span>&nbsp;Įrenginys @item.SetupString</td>
                    }
                    else
                    {
                        <td><span class="glyphicon glyphicon-modal-window"></span>&nbsp;@Html.DisplayFor(modelItem => item.Tag)</td>
                    }
                    <td id="device-@item.Id">Atnaujinama...</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="error-text">Neturite pridėtų įrenginių.</p>
    }
    @*<div class="container-login100-form-btn m-t-20" onclick="fetchDataManual()">
            <button class="login100-form-btn">
                Atnaujinti
            </button>
        </div>*@
</div>





<script type="text/javascript">

    setInterval(function fetchDataAuto() {
        var device_id_list = @Html.Raw(Json.Serialize(@Model.Select(item => item.Id).ToArray()));
        for (const d_id of device_id_list) {
            fetchData(d_id);
        }
    }, 5000); // ms

    function fetchData(d_id) {
        $.ajax({
            url: "@Url.Action("LiveWattage", "Electricity")",
            data: { device_id: d_id },
            type: "GET",
            success: function (result) {
                document.getElementById("device-" + d_id).innerHTML = "<span class=\"glyphicon glyphicon-flash\" style=\"color: #ffdc5f\"></span>&nbsp;" + result;
                document.getElementById("device-" + d_id).style.fontWeight = "bold";
            },
            error: function (result) {
                document.getElementById("device-" + d_id).innerHTML = "Duomenų perdavimo klaida."
            }
        });
    }





    @*setInterval(function fetchDataAuto() {
        $.ajax({
            url: "@Url.Action("LiveWattage", "Electricity", new { device_id = 1 })",
            //url: "https://localhost:5001/api/wattage/1",
            //data: JSON.stringify({ device_id: 1 }),
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            type: "GET",
            success: function (result) {
                //Swal.fire({
                //    icon: 'success',
                //    title: result,
                //    showConfirmButton: true,
                //});
                document.getElementById("live-text").innerHTML = result;
            }
        });
    }, 5000); // ms*@


    @*function fetchDataManual() {
        $.ajax({
            //url: "https://localhost:5001/api/wattage/1",
            url: "@Url.Action("LiveWattage", "Electricity", new { device_id = 1 })",
            type: "GET",
            success: function (result) {
                document.getElementById("manual-text").innerHTML = result;
            }
        });
    }

    window.onload = function fetchDataInitial() {
        $.ajax({
                url: "@Url.Action("LiveWattage", "Electricity", new { device_id = 1 })",
                //url: "https://localhost:5001/api/wattage/1",
                type: "GET",
                success: function (result) {
                    document.getElementById("manual-text").innerHTML = result;
                    document.getElementById("live-text").innerHTML = result;
                }
            });
        }*@

</script>

