@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MATAS - Smart energy solutions</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <nav class="topnav" id="myTopnav">

            <a class="navbar-header" style="padding: 0px; padding-top: 2px; margin-right: 30px;" href="@Url.Action("Index", "Home")">
                <div style="padding:5px; padding-bottom:5px;">
                    <img src="/images/logo.png" alt="Image" width="150" height="45">
                </div>
            </a>

            <a href="@Url.Action("FAQ", "Home")"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;D.U.K</a>
            @{
                if (Context.Request.Cookies["jwt"] != null)
                {
                    <a href="@Url.Action("DeviceSelect", "Electricity")"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Statistika</a>
                    <a href="@Url.Action("Statistics1", "Electricity")"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Statistika realiu laiku</a>
                    <a href="@Url.Action("Devices", "Home")"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Įrenginiai</a>
                    <a href="@Url.Action("Settings", "Home")"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Nustatymai</a>
                    <a class="right-item" href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Atsijungti</a>
                }
                else
                {
                    <a class="right-item" href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Prisijungti</a>
                }
            }
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>

    </header>

    <div id="container-main" class="container-main" style="background-image: url('images/bg-01.jpg');">
        <div>
            @RenderBody()
        </div>
    </div>

    <div id="container-footer" class="container-footer" style="background-image: url('images/bg-01.jpg');">
        <footer id="footer" class="footer">
            <div class="copyright">
                <p class="alignleft"><strong></strong></p>
                <p class="aligncenter"><strong>K053</strong></p>
                <p class="alignright"><strong>&copy; 2022 KTU</strong></p>
            </div>
        </footer>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            }
            else {
                x.className = "topnav";
            }
        }

</script>
